header {
  height: 300px;
  background-image: url(../assets/tm-header.jpg);
  background-position: 0 40%;
  background-size: cover;
  border-radius: 20px;
}

/* navigation */
nav {
  padding: 10px 0;
  display: flex !important;
  justify-content: center;
}

.nav-item {
  margin: 0 10px;
}

/* common */
h3 {
  padding-top: 20px;
}

form a {
  margin-left: 5px;
}

table {
  width: 100%;
}

.taskTableIndex {
  width: 5%;
}

.taskTableName {
  width: 30%;
}

.taskTableDesc {
  width: 55%;
}

.taskTablePriority {
  width: 10%;
}

.error {
  color: red;
}
